<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProducto" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4476/Producto.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProducto" contract="Taller.Servicios.IProducto"
                name="BasicHttpBinding_IProducto" />
        </client>
    </system.serviceModel>
</configuration>