<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width:device-width"/>
    <title>Inicio</title>
</head>
<body>
    <div>
        <div>Demo05: Llamada a servicio WCF asincrono</div>
        <div>Lista de Productos</div>
        <div id="divProducto"></div>
    </div>
    <script src="~/Scripts/Producto.js"></script>
</body>
</html> 

